.foto {
  width: 100%;
}

.subtitulo {
  width: 90%;
  margin: 5%;
}

.cabecera {
  background-color: cadetblue;
}

.logo {
  width: 80%;
  margin: 10%;
}

.menu {
  background-color: #ffe13a;
  color: cadetblue;
  text-align: center;
}

.elemento:hover {
  background-color: darkcyan;
  color: #ffe13a;
}

.elemento{
  border: 1px solid cadetblue;
}

.seccion {
  text-align: center;
}

.fondo1 {
  background-color: burlywood;
}

.fotoProducto {
  width: 80%;
  margin: 10%;
  margin-bottom: 0%;
  border-radius: 50%;
  box-shadow: 1px 1px 50px #312412;
  border: burlywood solid 2px;
}

.descripcion {
  width: 80%;
  margin: 10%;
  
  text-align: center;
}

.footer{
  background-color: rgb(25, 25, 25);
  color: whitesmoke;
}

.mapa{
  width: 100%;
}

.contacto{
  width: 80%;
  margin: 2% 10%;
}

@media screen and (min-width: 768px){
  .foto {
    width: 100%;
    margin: 0%;
  }
  .mapa{
    width: 90%;
    margin: 5%;
  }
}

@media screen and (min-width: 992px){
  .foto {
    width: 100%;
    margin: 0%;
  }
}