body {
  font-family: Arial, Helvetica, sans-serif;
}

.foto {
  width: 100%;
}

.subtitulo {
  width: 90%;
  margin: 5%;
}

.cabecera {
  background-color: #8e622b;
  color: white;
}

.logo {
  width: 80%;
  margin: 10%;
  filter: invert(100%);
}

.menu {
  background-color: rgb(247, 202, 143);
  color: #8e622b;
  text-align: center;
}

.elemento:hover {
  background-color: #775225;
  color: burlywood;
}

.elemento{
  border: 1px solid #8e622b;
}

.seccion {
  text-align: center;
}

.fondo1 {
  background-color: #deb887;
}

.fotoProducto {
  width: 80%;
  margin: 10%;
  margin-bottom: 0%;
  border-radius: 50%;
  box-shadow: 1px 1px 40px #886533;
  border: burlywood solid 2px;
  transition: transform 0.3s ease;
}

.fotoProducto:hover {
  transform: scale(1.15); 
}

.descripcion {
  width: 80%;
  margin: 10%;
  
  text-align: center;
}

.footer{
  background-color: rgb(25, 25, 25);
  color: whitesmoke;
}

.mapa{
  width: 100%;
}

.contacto{
  width: 80%;
  margin: 2% 10%;
}

.cabecera .row {
  display: flex;
  align-items: center;
}

.centado {
  text-align: center;
}

@media screen and (min-width: 768px){
  .foto {
    width: 90%;
    margin: 5%;
  }
  .mapa{
    width: 90%;
    margin: 5%;
  }
}

@media screen and (min-width: 992px){
  .foto {
    width: 100%;
    margin: 0%;
  }
}