body {
  font-family: Arial, Helvetica, sans-serif;
}

.foto {
  width: 100%;
  display: block;/*Quitar el espacio en blanco debajo de la foto*/
}

.subtitulo {
  width: 90%;
  margin: 5%;
}

.cabecera {
  background-color: #8e622b;
  color: white;
}

.logo {
  width: 80%;
  margin: 10%;
  filter: invert(100%);/*para ponerlo de color blanco*/
}

.menu {
  background-color: rgb(247, 202, 143);
  color: #8e622b;
  text-align: center;
}

.elemento:hover {
  background-color: #775225;
  color: burlywood;
}

.elemento{
  border: 1px solid #8e622b;
}

.seccion {
  text-align: center;
}

.fondo1 {
  background-color: #deb887;
}

.fotoProducto {
  width: 80%;
  margin: 10%;
  margin-bottom: 0%;
  border-radius: 50%;
  box-shadow: 1px 1px 40px #886533;
  border: burlywood solid 2px;
  transition: transform 0.3s ease; /*Para que la transformacion se haga poco a poco*/
}

.fotoProducto:hover {
  transform: scale(1.15); /*hacerlo mas grande cuando pasas el raton por encima*/
}

.descripcion {
  width: 80%;
  margin: 10%;
  text-align: center;
}

.footer{
  background-color: rgb(25, 25, 25);
  color: whitesmoke;
}

.mapa{
  width: 100%;
}

.contacto{
  width: 80%;
  margin: 5% 10%;
}

.cabecera .row {
  display: flex; 
  align-items: center;
  text-align: center;
  /*para alinear los elementos de dentro de la cabecera verticalmente*/
}

.centrado {
  text-align: center;
}

@media screen and (min-width: 768px){
  .foto {
    width: 90%;
    margin: 5%;
  }
  .mapa{
    width: 90%;
    margin: 5%;
  }
}

@media screen and (min-width: 992px){
  .foto {
    width: 100%;
    margin: 0%;
  }
}